---

const { isNew = false, title, date, img, duration, idDuration, idPlay } = Astro.props;
---
<div class="w-full bg-[rgb(50,0,80)] flex flex-col cursor-pointer hover:bg-[rgb(60,0,90)] duration-150 h-full
        md:flex-row
">
    <div class="relative flex justify-center items-center
        md:flex-1/2
    ">
        <img src={img} class="object-cover h-full w-full">
        <img src="play.svg" class="absolute h-5 p-1 bg-white/30 backdrop-blur-md rounded-full opacity-100
            lg:h-8 lg:p-2.5
        " id={idPlay}> 
        <p class="absolute bottom-3  text-white left-3 p-0.5 tracking-normal text-xs bg-[rgb(50,0,80)]
            lg:p-1.5 
            xl:p-2 xl:text-sm
        " id={idDuration}> {duration} </p>
    </div>
    <div class="ml-4 tracking-normal py-2 flex gap-2 justify-center flex-col items-baseline
        md:flex-1/2 md:py-0
    ">
        {isNew && <p class="text-sm bg-violet-500 px-2 inline"> Nuevo </p>}
        <p class="text-base text-white uppercase font-bold w-11/12 line-clamp-2
             md:text-sm
             xl:text-lg
        "> {title} </p>
        <p class="text-sm text-gray-400
            md:text-xs
            xl:text-base
        "> {date} </p>
    </div>
</div>
